.card {
    background-color: forestgreen;
    width: 23rem;
    /* height: 3rem; */
    display: flex;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;

}